<% if @poll.id == 1 %>
  <div id="polls_custom_video" class="margin-top">
    <iframe width="400px" height="225px" src="https://www.youtube.com/embed/kM04Nt2ehq4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<% end %>
